@import "./normalize.css";


* {
  font-family: "Arial", Helvetica, serif;
}

.hamburger{
  display:none;
}


nav.header {
  position: relative;
  margin: 0 auto;
  /* width: 100%;
  height: 480px; */
}

div.menu{
  background-image: url(../images/pagecover/20_0001124_4.jpg);
  width: 100%;
}

nav.header div.banner-title {
  display: inline-block;
  display: flex;
  width: 1000px;
  height: 300px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid black; */
}

nav.header div.banner-title>p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav.header div.banner-title>p.main-title {
  color: white;
  font-size: 30px;
  line-height: 75px;
  letter-spacing: 10px;
  width: 300px;
  height: 300px;
  text-align: left;
  font-family: 'Noto Serif TC', serif;
  margin: 0 auto;

}

nav.header div.banner-title>p.subtitle {
  color: white;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  width: 200px;
  height: 90px;
  text-align: center;
  right: 50px;
  margin-top: 180px;
}
@media screen and (min-width: 320px) and (max-width: 413.98px)  {
 nav.header{
        /* min-width: 300px; */
        width:100%;
    }
  div.menu{
    background-image: url(../images/pagecover/20_0001124_4.jpg);
    height: auto;
    /* min-width: 100%; */
    /* max-width: 400px; */
    width:100%;
  }
  nav.header div.banner-title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid black; */
  }

  nav.header div.banner-title>p.main-title{
    text-align: center;
  }

  nav.header div.banner-title{
    /* position:sticky;   */
    text-align: center;
    /* top:200px;
    left:100px; */
  }
   
  nav.header div.banner-title>p.subtitle,div.bold-title {
   display: none;
  }

  }

@media screen and (min-width: 414px) and ( max-width: 575.98px){

  nav.header{
           /* min-width: 300px; */
           width:100%;
       }
  div.menu{
     background-image: url(../images/pagecover/20_0001124_4.jpg);
     height: auto;
     width:100%;
     }

  nav.header div.banner-title {
     width: 100%;
     text-align: center;
     margin: 0 auto;
     }
   
  nav.header div.banner-title>p.main-title{
     text-align: center;

     }
   
  nav.header div.banner-title{ 
    text-align: center;

    }
      
  nav.header div.banner-title>p.subtitle,div.bold-title {
    display: none;
    }
   
  }
 
@media screen and (min-width: 576px) and ( max-width: 767.98px){
  
  div.menu{
    background-image: url(../images/pagecover/20_0001124_4.jpg);
    height: 35%;
    width: 100%;
    position:relative;
  }
  div.top_nav {
    display: none;
  }
  }

@media screen and (min-width: 768px) and ( max-width: 991.98px) {
 
  div.top_nav{
    display:none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199.98px){
  nav.header div.banner-title {
    display: inline-block;
    display: flex;
    width: 800px;
    height: 300px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
  }
  
  nav.header div.banner-title>p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  nav.header div.banner-title>p.main-title {
    color: white;
    font-size: 30px;
    line-height: 75px;
    letter-spacing: .5rem;
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: 'Noto Serif TC', serif;
    margin: 0 auto;
  
  }
  
  nav.header div.banner-title>p.subtitle {
    color: white;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    width: 150px;
    height: 90px;
    text-align: center;
    right: 3px;
    margin-top: 180px;
  }
}

@media screen and (min-width: 1200px) and ( max-width: 1399.98px){
  nav.header div.banner-title {
    display: inline-block;
    display: flex;
    width: 800px;
    height: 300px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
  }
  
  nav.header div.banner-title>p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  nav.header div.banner-title>p.main-title {
    color: white;
    font-size: 30px;
    line-height: 75px;
    letter-spacing: .5rem;
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: 'Noto Serif TC', serif;
    margin: 0 auto;
  
  }
  
  nav.header div.banner-title>p.subtitle {
    color: white;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    width: 150px;
    height: 90px;
    text-align: center;
    right: 3px;
    margin-top: 180px;
  }
}

@media screen and ( min-width: 1400px){
  nav.header div.banner-title {
    display: inline-block;
    display: flex;
    width: 800px;
    height: 300px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
  }
  
  nav.header div.banner-title>p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  nav.header div.banner-title>p.main-title {
    color: white;
    font-size: 30px;
    line-height: 75px;
    letter-spacing: .5rem;
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: 'Noto Serif TC', serif;
    margin: 0 auto;
  
  }
  
  nav.header div.banner-title>p.subtitle {
    color: white;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    width: 150px;
    height: 90px;
    text-align: center;
    right: 3px;
    margin-top: 180px;
  }
}

/* -----------------playharderanimationshaking---------------- */

nav.header div.banner-title>div.bold-title {
  color: white;
  font-size: 32px;
  line-height: 50px;
  font-weight: 900;
  letter-spacing: 5px;
  width: 200px;
  height: 100px;
  text-align: center;
  margin-top: 100px;
}

div.bold-title>p.play{
  color:#fff;
  width:150px;
  height:30px;
  padding:10px;
  text-align:center;
  -moz-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -o-transform:rotate(5deg);
  -ms-transform:rotate(5deg);
  transform:rotate(5deg);
}

div.bold-title>p.harder{
  color:#fff;
  width:150px;
  height:30px;
  padding:10px;
  text-align:center;
  -moz-transform:rotate(-10deg);
  -webkit-transform:rotate(-10deg);
  -o-transform:rotate(-10deg);
  -ms-transform:rotate(-10deg);
  transform:rotate(-10deg);
}

nav.header div.banner-title>div.bold-title:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media screen and (min-width: 576px) and ( max-width: 767.98px){
  
  nav.header div.banner-title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 720px;
    /* border: 1px solid black; */
  }
  nav.header div.banner-title>p.subtitle {
   display: block;
   left:1rem;
  }
  nav.header div.banner-title>div.bold-title {
    display: block;
    position: absolute;
    right:1rem;
   }
   nav.header div.banner-title>p.main-title {
    display: block;
    position: absolute;
    right:12rem;
    font-size: 1.8rem;
   } 
  }

@media screen and (min-width: 768px) and ( max-width: 991.98px) {
  
    nav.header div.banner-title {
      width: 100%;
      text-align: center;
      margin: 0 auto;
      max-width: 720px;
      /* border: 1px solid black; */
    }
    nav.header div.banner-title>p.subtitle {
     display: block;
     left:1rem;
    }
    nav.header div.banner-title>div.bold-title {
      display: block;
      position: absolute;
      right:1rem;
      font-size: 1.6rem;
     }
     nav.header div.banner-title>p.main-title {
      display: block;
      position: absolute;
      right:12rem;
      font-size: 1.8rem;
     } 
  }  

/* -----------------playharderanimationshaking---------------- */




/* ------------------headerbannertitle------------------- */

main {
  /* font-size: 0; */
  margin: 0 auto;
  overflow-x:hidden;
  overflow-y:auto;
}

div.section_planning {
  width: 960px;
  display: flex;
  margin: 0 auto;
  align-items: flex-end;
}


div.sectionBox {
  /* display: inline-block; */
  box-sizing: border-box;
  /* border: 1px solid rgb(0, 0, 0); */
  height: 300px;
  padding: 44px 44px 450px 330px;
  background-color: #1D2601;
}


/* letters */
div.sectionBox span {
  /* display: inline-block; */
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-size: 40px;
  font-family: 'Noto Serif TC', serif;
  line-height: 60px;
  color: white;
  letter-spacing: 10px;
}

@media screen and (min-width: 320px) and (max-width: 413.98px)  {
    
  div.section_planning {
    display:block;
    width:100%;
    margin: 0 auto;
  }
  div.sectionBox {
    display:block;
    background-color: #ffffff;
    padding: 0;
    max-width: auto;
    width: 100%;
    height: auto;
    position:relative;
  }
  div.sectionBox span {
    margin-bottom: 1.5rem;
    color:#1D2601;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Noto Serif TC', serif;
    line-height: 3.5rem;
    letter-spacing: .2rem;
    max-width:100%;
    width:100%;
  }

  }

@media screen and (min-width: 414px) and ( max-width: 575.98px){

    div.section_planning {
      display:block;
      width:100%;
      margin: 0 auto;
    }
    
    div.sectionBox {
      display:block;
      background-color: #ffffff;
      padding: 0;
      max-width: auto;
      width: 100%;
      height: auto;
      position:relative;
    }
    div.sectionBox span {
      margin-bottom: 1.5rem;
      color:#1D2601;
      display: block;
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Noto Serif TC', serif;
      line-height: 3.5rem;
      letter-spacing: .2rem;
      max-width:100%;
      width:100%;
    }
  
  }

@media screen and (min-width: 576px) and ( max-width: 767.98px){

      div.section_planning {
        display:flex;
        width:100%;
        max-width: 650px;
        padding: 0 2rem;
        margin-right: 0;
      }
      
      div.sectionBox {
        display:block;
        
       
        width: 100%;
        height: auto;
        position:relative;
      }

      div.sectionBox {
        /* display: inline-block; */
        box-sizing: border-box;
        color: #ffffff;
        border: 1px solid rgb(0, 0, 0);
        max-height: 300px;
        max-width: 290px; 
        /* padding: 0; */
        /* max-width: auto; */
        padding: 9px 9px 250px 175px;
        background-color: #1D2601;
        margin-top:3rem;
      }

      div.sectionBox span {
        margin-bottom: 1.5rem;
        color:#ffffff;
        display: block;
        text-align: center;
        font-size: 1.7rem;
        font-family: 'Noto Serif TC', serif;
        line-height: 3.5rem;
        letter-spacing: .8rem;
        max-width:100%;
        width:100%;
      }
    
  }

@media screen and (min-width: 768px) and ( max-width: 991.98px){


    div.section_planning {
      display:flex;
      width:100%;
      max-width: 650px;
      padding: 0 2rem;
      margin-right: 0;
    }
    
    div.sectionBox {
      display:block;
      
     
      width: 100%;
      height: auto;
      position:relative;
    }

    div.sectionBox {
      /* display: inline-block; */
      box-sizing: border-box;
      color: #ffffff;
      border: 1px solid rgb(0, 0, 0);
      max-height: 300px;
      max-width: 290px; 
      /* padding: 0; */
      /* max-width: auto; */
      padding: 9px 9px 250px 175px;
      background-color: #1D2601;
      margin-top:3rem;
    }

    div.sectionBox span {
      margin-bottom: 1.5rem;
      color:#ffffff;
      display: block;
      text-align: center;
      font-size: 1.7rem;
      font-family: 'Noto Serif TC', serif;
      line-height: 3.5rem;
      letter-spacing: .8rem;
      max-width:100%;
      width:100%;
    }
  
}
/* //-------------------greenbox----------------// */


form.planForm {
  width: 385px;
  margin-left: 95px;
}


div.typeSelection {
  /* display: inline-block; */
  margin-top: 5px ;
}


div.typeSelection>label {
  font-size: 18px;
  line-height: 35px;
  
  
}

div.typeSelection>label>select {
  /*   display:block; */
  width: 385px;
  height: 40px;
  border-radius: 3px;
  border: .5px solid #9c9c9c;
  margin-top: 2px;
}

div.largeSelection {
  display: flex;
  font-size: 18px;
  margin-top: 10px;
  justify-content: space-between;
}

div.smallSelection {
  width: 180px;
  height: 80px;
  border-radius: 3px;
  padding:0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 413.98px)  {

  form.planForm {
  display: block;
  background-color: #1D2601;
  border:1px solid #1D2601;
  width:100%;
  margin: 0 auto;
  padding-top:2rem;
  }

  div.typeSelection {
  display: block;
  width: 90%;
  margin: 0 auto;
  }

  div.largeSelection{
    width:100%;
    display:block;
  }

  div.smallSelection label,
  div.largeSelection label,
  div.typeSelection label {
    color:white;
  }

  div.smallSelection{
    margin:0 1rem;
  
    width:90%;
  }

  div.typeSelection>label>select.selection {
      display:block;
    width: 100%;
    height: 40px;
    margin-top: 2px;
    
  }

}

@media screen and (min-width: 414px) and ( max-width: 575.98px){

  form.planForm {
  display: block;
  background-color: #1D2601;
  border:1px solid #1D2601;
  width:100%;
  margin: 0 auto;
  padding-top:2rem;
  }

  div.typeSelection {
  display: block;
  width: 90%;
  /* max-width: 300px; */
  margin: 0 auto;
  }

  div.largeSelection{
    width:100%;
    display:block;
    margin:1rem auto;
  }

  div.smallSelection label,
  div.largeSelection label,
  div.typeSelection label {
    color:white;
  }

  div.smallSelection{
    margin:0 auto;
    width:90%;
  }

  div.typeSelection>label>select.selection {
      display:block;
    width: 100%;
    height: 40px;
    margin-top: 2px;
    
  }

}

@media screen and (min-width: 576px) and ( max-width: 767.98px){

  form.planForm {
  display: block;
  /* border:1px solid #1D2601; */
  width:100%;
  margin: 0 auto;
  padding-top:2rem;
  }

  div.typeSelection {
  display: block;
  width: 100%;
  /* max-width: 300px; */
  margin: 0 auto;
  }

  div.largeSelection{
    width:100%;
    display: flex;
    margin:0 auto;
    /* padding-right: 2rem; */
  }

  div.smallSelection label,
  div.largeSelection label,
  div.typeSelection label {
    color:#1D2601;
  }

  div.smallSelection{
    /* margin:0 auto; */
    padding-top:.5rem;
    max-width: 140px;
    width:50%;
    
  }

  div.smallSelection:last-child{
    margin:0 auto;
    padding-left:.3rem;
    max-width: 140px;
    width:50%;
    
  }

  div.typeSelection>label>select.selection {
    display:block;
    width: 93%;
    height: 35px;
    margin-top: 2px;
    
  }

}

@media screen and (min-width: 768px) and ( max-width: 991.98px) {

  form.planForm {
  display: block;
  /* border:1px solid #1D2601; */
  width:100%;
  margin: 0 auto;
  padding-top:2rem;
  }

  div.typeSelection {
  display: block;
  width: 100%;
  /* max-width: 300px; */
  margin: 0 auto;
  }

  div.largeSelection{
    width:100%;
    display: flex;
    margin:0 auto;
    /* padding-right: 2rem; */
  }

  div.smallSelection label,
  div.largeSelection label,
  div.typeSelection label {
    color:#1D2601;
  }

  div.smallSelection{
    /* margin:0 auto; */
    padding-top:.5rem;
    max-width: 140px;
    width:50%;
    
  }

  div.smallSelection:last-child{
    margin:0 auto;
    padding-left:.3rem;
    max-width: 140px;
    width:50%;
    
  }

  div.typeSelection>label>select.selection {
    display:block;
    width: 93%;
    height: 35px;
    margin-top: 2px;
    
  }

}

/* 時間 */
div.smallSelection>label.time>input {
  width: 175px;
  height: 40px;
  border-radius: 3px;
  border: .5px solid #9c9c9c;
  margin-top: 5px;
}

/* 人數 */
div.smallSelection>label.people>select {
  width: 178px;
  height: 42px;
  border-radius: 3px;
  border: .5px solid #9c9c9c;
  margin-top: 5px;
}

button.btn_submit {
  width: 385px;
  height: 45px;
  border: 2px solid black;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0);
}

button.btn_submit:hover {
  color: white;
  background-color: #3B8DBF;
  border: 1px solid transparent;
}

/* button.btn_submit:hover p{
  color:white;
} */

button.btn_submit>p {
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 413.98px)  {
  button.btn_submit{
    width: 90%;
    height: 45px;
    margin:2rem 1rem;
    color: white;
    background-color: #3B8DBF;
    border: 1px solid transparent;
  }
 
  div.smallSelection>label.time>input{
    min-width: 286px;
    width: 100%;
  }

  div.smallSelection>label.people>select{
    min-width: 286px;
    width: 100%;
  }

}
@media screen and (min-width: 414px) and ( max-width: 575.98px){

form.planForm{
 margin: 0 auto;
 /* margin-right:0; */
padding-top:2rem;
 width: 100%;
 max-width: 425px;
}

button.btn_submit{
    width: 90%;
    height: 45px;
    margin:2rem 1rem;
    color: white;
    background-color: #3B8DBF;
    border: 1px solid transparent;
}
 
div.smallSelection>label.time>input{
  min-width: 355px;
  width: 100%;
  margin: 0 auto;

}

div.smallSelection>label.people>select{
  min-width: 286px;
  width: 100%;
  margin: 0 auto;

}

}
@media screen and (min-width: 576px) and ( max-width: 767.98px){

  form.planForm{
   margin: 0 ;
   margin:2rem 0rem 0 2rem;
   padding:0 ;
   padding-top:2rem;
   width: 100%;
   max-width:325px;
   align-items: flex-end;
  }
  
  button.btn_submit{
      width: 95%;
      max-height: 45px;
      margin:1rem 1rem 0 0;
      color: white;
      background-color: #3B8DBF;
      border: 1px solid transparent;
  }
   
  div.smallSelection>label.time>input{
    min-width: 140px;
    width: 85%;
    padding: 0;
    margin: 0;
    /* margin: 0 auto; */
  
  }
  
  div.smallSelection>label.people>select{
    min-width:140px;
    width: 85%;
    padding: 0;
    margin: 0;
    /* margin: 0 auto; */
  
  }
  
}
@media screen and (min-width: 768px) and ( max-width: 991.98px) {

    form.planForm{
     margin: 0 ;
     margin:2rem 0rem 0 2rem;
     padding:0 ;
     padding-top:2rem;
     width: 100%;
     max-width:325px;
     align-items: flex-end;
    }
    
    button.btn_submit{
        width: 95%;
        max-height: 45px;
        margin:1rem 1rem 0 0;
        color: white;
        background-color: #3B8DBF;
        border: 1px solid transparent;
    }
     
    div.smallSelection>label.time>input{
      min-width: 140px;
      width: 85%;
      padding: 0;
      margin: 0;
      /* margin: 0 auto; */
    
    }
    
    div.smallSelection>label.people>select{
      min-width:140px;
      width: 85%;
      padding: 0;
      margin: 0;
      /* margin: 0 auto; */
    
    }
    
}

/* ---------------------form------------------------ */

.ml-30 {
  margin-left: 30px;
}

.ml-95 {
  margin-left: 95px;
}

.mt-95 {
  margin-top: 95px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-48 {
  margin-bottom: 48px;
}

/* ---------------------utility----------------------- */

div.logo_belt {
  background-image: url(../images/index/belt1.png);
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 0;
}

div.logo_belt>img.logo {
  top: -20px;
  width: 90px;
  margin-top: 52.5px;
  position: absolute;
  align-items: center;
}


div.logo_belt>span {
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 700;
  color: #1D2601;
  /* border: 1px solid blue; */
  vertical-align: middle;
  position: absolute;
  top: 110px;
}

@media screen and (min-width: 320px) and (max-width: 413.98px) {
  div.logo_belt{
    display: none;
  }
}

@media screen and (min-width: 414px) and ( max-width: 575.98px){
  div.logo_belt{
    display: none;
  }
}

@media screen and (min-width: 576px) and ( max-width: 767.98px){
  div.logo_belt{
    display: block;
  }

  div.logo_belt {
    background-image: url(../images/index/belt1.png);
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    
  }

  div.logo_belt>img.logo {
    top: -20px;
    width: 50px;
    margin-top: 52.5px;
    position: absolute;
    align-items: center;
  }
  
  
  div.logo_belt>span {
    box-sizing: border-box;
    font-size: .6rem;
    letter-spacing: .05rem;
    font-weight: 700;
    vertical-align: middle;
    position: absolute;
    top: 80px;
  }
}

@media screen and (min-width: 768px) and ( max-width: 991.98px) {
  div.logo_belt{
    display: block;
  }

  div.logo_belt {
    background-image: url(../images/index/belt1.png);
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    
  }

  div.logo_belt>img.logo {
    top: -20px;
    width: 50px;
    margin-top: 52.5px;
    position: absolute;
    align-items: center;
  }
  
  
  div.logo_belt>span {
    box-sizing: border-box;
    font-size: .6rem;
    letter-spacing: .05rem;
    font-weight: 700;
    vertical-align: middle;
    position: absolute;
    top: 80px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199.98px){
  div.logo_belt {
    background-image: url(../images/index/belt1.png);
    height: 120px;
    width: 100%;
  }

  div.logo_belt>img.logo {
    top: -20px;
    width: 4rem;
   
  }
  
  
  div.logo_belt>span {
    top: 5.5rem;
  }
}
/* --------------------beltLogo--------------------------- */
div.section_attractive_rental {
  display: flex;
  width: 960px;
  margin: 0 auto;
  font-size: 24px;
  flex-direction: column;
}

div.section_attractive_rental>div.products {
  display: flex;
  justify-content: space-between;
}

div.section_attractive_rental>div.description {
  box-sizing: border-box;
  /* border: 1px solid black; */
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 48px;
}

div.section_attractive_rental>div>a>img {
  /* margin: 0 auto; */
  margin-bottom: 95px;
  width: 200px;
  height: 200px;
  /* border: 1px solid black; */
}

@media screen and (min-width: 320px) and (max-width: 413.98px) {
  div.section_attractive_rental{
    display: none;
  }
}

@media screen and (min-width: 414px) and ( max-width: 575.98px){
    div.section_attractive_rental{
      display: none;
    }
}

@media screen and (min-width: 768px) and ( max-width: 991.98px) {
  div.section_attractive_rental{
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199.98px){
  div.section_attractive_rental{
    display: none;
  }
}

@media screen and (min-width: 1400px){
  div.section_attractive_rental>div.description {
    font-size: 2rem;
  }
}
/* --------------------------------attractiveProduct---------------------- */

div.section_ourservice {
  width: 960px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  /* border-bottom: 2px solid black; */
  margin-bottom: 95px;
}

div.section_ourservice h4 {
  /* box-sizing: border-box; */
  display: flex;
  font-weight: 900;
  line-height: 22px;
  color: #000;
  /* width: 140px; */
  height: 30px;
  /* margin-right: 50px; */
  align-content: center;
  /* border: 1px solid black; */
}

@media screen and (min-width: 320px) and (max-width: 413.98px)  {
  div.section_ourservice{
    width: 90%;
    margin:4.5rem auto;
    display: block;
    border:0px solid black;
  }
}

@media screen and (min-width: 414px) and ( max-width: 575.98px){
  div.section_ourservice{
    width: 100%;
    margin:4.5rem auto;
    display: block;
    border:0px solid black;
  }
}

@media screen and (min-width: 768px) and ( max-width: 991.98px) {

}

@media screen and (min-width: 1024px) and (max-width: 1199.98px){

}

@media screen and (min-width: 1200px) and ( max-width: 1399.98px){

}

div.section_ourservice>h4:after,
h4:before {
  padding: 0 50px;
  clear: both;
  content: "●";
  display: block;
}

div.section_ourservice>div.paragraph {
  width: 550px;
  height: 60px;
  padding: 0 0 25px 0;
  font-size: 16px;
  color: #000;
  letter-spacing: .05em;
  display: flex;
  /* border: 1px solid black; */
}

div.paragraph>p.knowledgeInfo {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*行數*/
  -webkit-box-orient: vertical;

}

div.section_ourservice div.paragraph>a.knowledgeInfo {
  text-decoration: none;
  display: block;
  padding: 25px 10px 25px 40px;
  /* border:1px solid black; */
  margin: 0 auto;
  white-space: nowrap;

}

a.knowledgeInfo:after {
  clear: both;
  content: "●";
  text-align: center;
  padding: 50px 50px;
  
}

@media screen and (min-width: 320px) and (max-width: 413.98px)  {

  div.section_ourservice>div.paragraph{
    width: 80%;
    padding: .8rem 0;
    margin:0 auto;
    height: 100px;
    display:block;
 
  }

 div.section_ourservice>h4{
    margin: 0 auto;
  }

  div.section_ourservice>h4:before {
    padding:  0  3.5rem 0 2.5rem ;
    clear: both;
    content: "●";
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
  }

  div.section_ourservice>h4:after {
    padding: 0 1rem 0 2.5rem ;
    box-sizing: border-box;
  clear: both;
  content: "●";
  display: block;
  margin: 0 auto;
}

 
  div.paragraph>p.knowledgeInfo{
    overflow: hidden;
    display: -webkit-box;
    letter-spacing: .07rem;
    -webkit-line-clamp: 3;
    /*行數*/
    -webkit-box-orient: vertical;
    
  
  }

  div.section_ourservice div.paragraph>a.knowledgeInfo{
    display: block;
    width:95%;
    padding:1.5rem 0 .1rem;
    
    margin: 0 auto;
    color:black;

  }

  a.knowledgeInfo:after{
    content:"●";
    text-align: center;
    padding: 0 0 0 4rem ;
    text-decoration: none;
  }

  a.knowledgeInfo:before{
    clear: both;
    content:"●";
    text-align: center;
    padding:  0  4rem 0 .5rem ;
    text-decoration: none;
  }

}

@media screen and (min-width: 414px) and ( max-width: 575.98px){

  div.section_ourservice>div.paragraph{
    width: 80%;
    padding: .8rem 0;
    margin:0 auto;
    height: 100px;
    display:block;
 
  }

 div.section_ourservice>h4{
    margin: 0 auto;
  }

  div.section_ourservice>h4:before {
    margin: 0 auto;
    box-sizing: border-box;
    clear: both;
    content: "●";
    display: block;
  }

  div.section_ourservice>h4:after {
    margin: 0 auto;
    clear: both;
    content: "●";
    display: block;
  }

  div.paragraph>p.knowledgeInfo {
    overflow: hidden;
    display: -webkit-box;
    letter-spacing: .07rem;
    -webkit-line-clamp: 3;
    /*行數*/
    -webkit-box-orient: vertical;
  }

  div.section_ourservice div.paragraph>a.knowledgeInfo{
    display: block;
    width:100%;
    /* padding:1.5rem 0 .1rem; */
    padding: 0;
    margin: 1rem auto;
    color:black;
    display: flex;
  }

  a.knowledgeInfo:after{
    clear: both;
    content:"●";
    display: block;
    padding: 0 2.7rem 0 4.5rem ;
   justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
    /* border:1px solid black; */

  }

  a.knowledgeInfo:before{
    clear: both;
    content:"●";
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding:  0 6rem 0 2.7rem ;
    /* border:1px solid black; */

  }

}

@media screen and (min-width: 576px) and ( max-width: 767.98px){

  div.section_ourservice{
    max-width: 650px;
    width:100%;
    display: block;
    border-bottom:0px ;
  }

  div.section_ourservice>div.paragraph{
    width: 50%;
    max-width: 650px;
    padding: .8rem 0;
    margin:0 auto;
    height: 100px;
    display:block;
 
  }

 div.section_ourservice>h4{
   /* display: block; */
    margin: 0 auto;
    max-width: 300px;
  }

  div.section_ourservice>h4:before {
    margin: 0 auto;
    box-sizing: border-box;
    clear: both;
    content: "●";
    display: block;
    padding:  0 3rem 0 1rem ;
  }

  div.section_ourservice>h4:after {
    margin: 0 auto;
    clear: both;
    content: "●";
    display: block;
    padding: 0 0rem 0 5rem ;
  }

  div.paragraph>p.knowledgeInfo {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-box;
    letter-spacing: .07rem;
    -webkit-line-clamp: 3;
    /*行數*/
    -webkit-box-orient: vertical;
  }

  div.section_ourservice div.paragraph>a.knowledgeInfo{
    display: block;
    width:100%;
    /* padding:1.5rem 0 .1rem; */
    padding: 0;
    margin: 1rem auto;
    color:black;
    display: flex;
  }

  a.knowledgeInfo:after{
    clear: both;
    content:"●";
    display: block;
    padding: 0 2.7rem 0 4.5rem ;
   justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
    /* border:1px solid black; */

  }

  a.knowledgeInfo:before{
    clear: both;
    content:"●";
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding:  0 5rem 0 2rem ;
    /* border:1px solid black; */

  }

}

@media screen and (min-width: 768px) and ( max-width: 991.98px) {

  div.section_ourservice{
    max-width: 650px;
    width:100%;
    display: block;
    border-bottom:0px ;
  }

  div.section_ourservice>div.paragraph{
    width: 50%;
    max-width: 650px;
    padding: .8rem 0;
    margin:0 auto;
    height: 100px;
    display:block;
 
  }

 div.section_ourservice>h4{
   /* display: block; */
    margin: 0 auto;
    max-width: 300px;
  }

  div.section_ourservice>h4:before {
    margin: 0 auto;
    box-sizing: border-box;
    clear: both;
    content: "●";
    display: block;
    padding:  0 3rem 0 1rem ;
  }

  div.section_ourservice>h4:after {
    margin: 0 auto;
    clear: both;
    content: "●";
    display: block;
    padding: 0 0rem 0 5rem ;
  }

  div.paragraph>p.knowledgeInfo {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-box;
    letter-spacing: .07rem;
    -webkit-line-clamp: 3;
    /*行數*/
    -webkit-box-orient: vertical;
  }

  div.section_ourservice div.paragraph>a.knowledgeInfo{
    display: block;
    width:100%;
    /* padding:1.5rem 0 .1rem; */
    padding: 0;
    margin: 1rem auto;
    color:black;
    display: flex;
  }

  a.knowledgeInfo:after{
    clear: both;
    content:"●";
    display: block;
    padding: 0 2.7rem 0 4.5rem ;
   justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
    /* border:1px solid black; */

  }

  a.knowledgeInfo:before{
    clear: both;
    content:"●";
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding:  0 5rem 0 2rem ;
    /* border:1px solid black; */

  }

}

@media screen and (min-width: 1024px) and (max-width: 1199.98px){

  div.section_ourservice{
    max-width: 960px;
    width:90%;
    /* display: block; */
    border-bottom:0px ;
  }

  div.section_ourservice>div.paragraph{
    width: 100%;
    max-width: 600px;
    padding: .8rem 0;
    margin:0 auto;
    height: 100px;
    /* display:block; */
 
  }

 div.section_ourservice>h4{
   /* display: block; */
    margin: 0 auto;
    max-width: 300px;
  }

  div.section_ourservice>h4:before {
    margin: 0 auto;
    box-sizing: border-box;
    clear: both;
    content: "●";
    display: block;
    padding:  0 3rem 0 1rem ;
  }

  div.section_ourservice>h4:after {
    margin: 0 auto;
    clear: both;
    content: "●";
    display: block;
    padding: 0 0rem 0 3rem ;
  }

  div.paragraph>p.knowledgeInfo {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-box;
    letter-spacing: .07rem;
    -webkit-line-clamp: 3;
    /*行數*/
    -webkit-box-orient: vertical;
  }

  div.section_ourservice div.paragraph>a.knowledgeInfo{
    display: block;
    width:100%;
    /* padding:1.5rem 0 .1rem; */
    padding: 0;
    margin: 1rem auto;
    color:black;
    display: flex;
  }

  a.knowledgeInfo:after{
    clear: both;
    content:"●";
    display: block;
    padding: 0 2.7rem 0 3rem ;
   justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
    /* border:1px solid black; */

  }

  a.knowledgeInfo:before{
    clear: both;
    content:"●";
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding:  0 3rem 0 2.5rem ;
    /* border:1px solid black; */

  }

}

@media screen and (min-width: 1200px) and ( max-width: 1399.98px){

  div.section_ourservice {
    width: 1140px; 
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    /* border-bottom: 2px solid black; */
    margin-bottom: 95px;
  }
  
  div.section_ourservice h4 {
    /* box-sizing: border-box; */
    display: flex;
  
    color: #000;
    width: 300px;
    height: 30px;
    font-size: 1.4rem;
    align-content: center;
    /* border: 1px solid black; */
    padding-right:50px;
  }

  div.paragraph>p.knowledgeInfo {

  font-size: 1.4rem;
}

div.section_ourservice>h4:after{
  padding: 0 3rem 0 1rem;
  clear: both;
  content: "●";
  display: block;
}

div.section_ourservice>h4:before {
  padding: 0 1rem 0 3rem;
  clear: both;
  content: "●";
  display: block;

}


div.section_ourservice>div.paragraph {
  width:775px;
  line-height: 2rem;
  height: 90px;
  padding: 0 0 25px 0;
  font-size: 16px;
  color: #000;
  letter-spacing: .05em;
  display: flex;
  /* border: 1px solid black; */
}

div.paragraph>p.knowledgeInfo {
  width:500px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*行數*/
  -webkit-box-orient: vertical;

}

div.section_ourservice div.paragraph>a.knowledgeInfo {
  text-decoration: none;
  font-size: 1.4rem;
  color: #000;
  display: block;
  padding: 25px 10px 25px 40px;
  /* border:1px solid black; */
  margin: 0 auto;
  white-space: nowrap;
}

a.knowledgeInfo:after{
  clear: both;
  padding:.5rem -1.5rem 0 3.5rem;
  content: "●";
  text-align: center;
  
}

a.knowledgeInfo:before {
  clear: both;
  padding:.5rem 3rem 0 1rem;
  content: "●";
  text-align: center;
  
}

}

@media screen and ( min-width: 1400px){

  div.section_ourservice {
    width: 1400px;  
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    /* border-bottom: 2px solid black; */
    margin-bottom: 95px;
  }
  
  div.section_ourservice h4 {
    /* box-sizing: border-box; */
    display: flex;
  
    color: #000;
    width: 300px;
    height: 30px;
    font-size: 1.4rem;
    align-content: center;
    /* border: 1px solid black; */
    padding-right:50px;
  }

  div.paragraph>p.knowledgeInfo {

  font-size: 1.4rem;
}

div.section_ourservice>h4:after{
  padding: 0 3rem 0 1rem;
  clear: both;
  content: "●";
  display: block;
}

div.section_ourservice>h4:before {
  padding: 0 1rem 0 3rem;
  clear: both;
  content: "●";
  display: block;

}


div.section_ourservice>div.paragraph {
  width:850px;
  height: 90px;
  padding: 0 0 25px 0;
  font-size: 16px;
  color: #000;
  letter-spacing: .05em;
  display: flex;
  /* border: 1px solid black; */
}

div.paragraph>p.knowledgeInfo {
  width:500px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*行數*/
  -webkit-box-orient: vertical;

}

div.section_ourservice div.paragraph>a.knowledgeInfo {
  text-decoration: none;
  font-size: 1.4rem;
  color: #000;
  display: block;
  padding: 25px 10px 25px 40px;
  /* border:1px solid black; */
  margin: 0 auto;
  white-space: nowrap;
}

a.knowledgeInfo:after{
  clear: both;
  padding:.5rem -1.5rem 0 3.5rem;
  content: "●";
  text-align: center;
  
}

a.knowledgeInfo:before {
  clear: both;
  padding:.5rem 3rem 0 1rem;
  content: "●";
  text-align: center;
  
}

}

/* --------------------------------knowledgeInfo---------------------- */

div.section_classic_itinrary {
  width: 960px;
  height: 550px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 95px;
}

div.river-tracing {
  box-sizing: border-box;
  height: 500px;
  width: 900px;
  position: absolute;
  right: 300px;
  overflow: hidden;
  z-index: 1;
}

@media screen and (min-width: 320px) and (max-width: 991.98px){
  div.section_classic_itinrary{
   display:none;
  }

}

div.mountain-hiking {
  overflow: hidden;
  box-sizing: border-box;
  height: 500px;
  width: 900px;
  position: absolute;
  top: 50px;
  left: 400px;

  /* border: 3px solid red; */
}

div.river-tracing {
  display: block;
  height: 500px;
  width: 860px;   
  -webkit-mask-image: url(../images/index/Rectangle1.png);
  background-image: url(../images/index/river.jpeg);
  background-size: 120%;
  background-repeat: no-repeat;
}

div.river-tracing span {
  /* border: 3px solid white; */
  font-size: 32px;
  color: white;
  font-family: 'Noto Serif TC', serif;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  position: absolute;
  /* position: relative; */
  top: 230px;
  left: 350px;
  /* line-height: px; */
  letter-spacing: 10px;

}


div.mountain-hiking {
  display: block;
  height: 500px;
  width: 800px;
  -webkit-mask-image: url(../images/index/Rectangle2.png);
  background-image: url(../images/travel/嘉明湖.jpeg);
  background-size: 120%;
  background-repeat: no-repeat;
  position: relative;

}

div.mountain-hiking span {
  /* border: 3px solid white; */
  font-size: 30px;
  color: white;
  font-family: 'Noto Serif TC', serif;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  position: absolute;
  top: 190px;
  left: 390px;
  /* line-height: px; */
  letter-spacing: 10px;
}

span.triangle1 {
  display: inline-block;
  border-left: 38px solid transparent;
  border-right: 73px solid transparent;
  border-top: 0px solid orange;
  border-bottom: 37px solid #224e69c4;
  transform: rotate(-26deg);
  width: 0px;
  height: 0px;
  position: absolute;
  top: 490px;
  left: 385px;
}
@media screen and (min-width: 1024px) and (max-width: 1199.98px){
  div.mountain-hiking {
    /* overflow: hidden;
    box-sizing: border-box; */
    max-height: 400px;
    max-width: 550px;
    /* position: absolute;
    top: 50px;
    left: 400px; */
  
    /* border: 3px solid red; */
  }
  
  div.river-tracing {
    display: block;
    height: 400px;
    width: 560px;
    -webkit-mask-image: url(../images/index/Rectangle\ 1.png);
    background-image: url(../images/index/river.jpeg);
    background-size: 120%;
    background-repeat: no-repeat;
  }
  
  div.river-tracing span {
    /* border: 3px solid white; */
    font-size: 32px;
    color: white;
    font-family: 'Noto Serif TC', serif;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    position: absolute;
    /* position: relative; */
    top: 230px;
    left: 350px;
    /* line-height: px; */
    letter-spacing: 10px;
  
  }
  
  
  div.mountain-hiking {
    display: block;
    height: 500px;
    width: 800px;
    -webkit-mask-image: url(../images/index/Rectangle\ 2.png);
    background-image: url(../images/travel/1_V8ZfS1rObZACGtisJN430Q.jpeg);
    background-size: 120%;
    background-repeat: no-repeat;
    position: relative;
  
  }
  
  div.mountain-hiking span {
    /* border: 3px solid white; */
    font-size: 30px;
    color: white;
    font-family: 'Noto Serif TC', serif;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    position: absolute;
    top: 190px;
    left: 390px;
    /* line-height: px; */
    letter-spacing: 10px;
  }
  
  span.triangle1 {
    display: inline-block;
    border-left: 38px solid transparent;
    border-right: 73px solid transparent;
    border-top: 0px solid orange;
    border-bottom: 37px solid #224e69c4;
    transform: rotate(-26deg);
    width: 0px;
    height: 0px;
    position: absolute;
    top: 490px;
    left: 385px;
  }
  div.section_classic_itinrary{
    display: none;
  }
}

/* --------------trapioa--------------- */

div.section_professional_team {
  width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}

div.section_professional_team span {
  /* box-sizing: border-box; */
  font-size: 24px;
  width: 660px;
  font-family: 'Noto Serif TC', serif;
}

div.section_professional_team div.teamMember {
  /* box-sizing: border-box; */
  /* width: 960px; */
  display: flex;
  margin: 95px 0;
  align-items: space-between;
  justify-content: space-between;
  vertical-align: middle;
}


div.section_professional_team div.teamMember>span {
  text-align: left;
  /* line-height: 28px; */
  width: 400px;
  
}

div.section_professional_team div.teamMember>img {
  border-radius: 50%;
  margin: 0 48px;
  width: 300px;
  height: 300px;
}

@media screen and (min-width: 320px) and (max-width: 413.98px){
  
  div.section_professional_team div.teamMember img{
    border-radius: 50%;
    margin: 0 auto;
    width: 9.375rem;
    height: 9.375rem;
  }
}


@media screen and (min-width: 414px) and ( max-width: 575.98px){  
  div.section_professional_team div.teamMember img{
  border-radius: 50%;
  margin: 0 auto;
  width: 9.375rem;
  height: 9.375rem;
  }
  }

@media screen and (min-width: 576px) and ( max-width: 767.98px){

    div.section_professional_team div.teamMember img{
    border-radius: 50%;
    margin: 0 auto;
    width: 9.375rem;
    height: 9.375rem;
    }
}

@media screen and (min-width: 768px) and ( max-width: 991.98px) {

  div.section_professional_team div.teamMember img{
  border-radius: 50%;
  margin: 0 auto;
  width: 12rem;
  height: 12rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199.98px){

  div.section_professional_team div.teamMember img{

  width: 15rem;
  height: 15rem;
  }
}

@media screen and ( min-width: 1400px){
  div.section_professional_team div.teamMember img{

  width: 15rem;
  height: 15rem;
  }
}


div.section_professional_team div.teamMember>span>p.title1,
.subtitle1 {
  font-size: 20px;
  box-sizing: border-box;
  padding-bottom: 45px;
  height: 28px;
  letter-spacing: 6%;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  font-family: 'Noto Serif TC', serif;
}

div.section_professional_team div.teamMember>span>p.content {
  font-size: 14px;
  line-height: 19.2px;
  letter-spacing: 0.07em;
  /* margin-top: 35px; */
  box-sizing: border-box;
}

div.section_professional_team div.teamMember>span>p.content1 {
  font-size: 8px;
  line-height: 14px;
  letter-spacing: 0.06em;
  margin-top: 35px;
  margin-bottom: 5px;
  box-sizing: border-box;
}


@media screen and (min-width: 320px) and (max-width: 413.98px)  {
  div.section_professional_team{
    width:90%;
    max-width: 300px;
    padding:0 ;
    margin:0 auto ;
  }
  div.section_professional_team div.teamMember img{
    border-radius: 50%;
    margin: 0 auto;
    width: 6.375rem;
    height: 6.375rem;
    display:block;
  }
 
  div.section_professional_team div.teamMember img.guider-photo_1{
   position: absolute;
   top:1rem;
   right:1rem;
  }

  div.section_professional_team div.teamMember img.guider-photo_2{
    position: absolute;
    top:1rem;
    right:1rem;
   }

   div.section_professional_team div.teamMember img.guider-photo_3{
    position: absolute;
    top:.5rem;
    right:1rem;
   }


  div.section_professional_team>span{
    display:block;
    width:100%;
    max-width: 300px;
    padding: 0 ;
    margin:0 auto;
    letter-spacing: .2rem;
   
    
  }
  div.section_professional_team div.teamMember>span>p{
    display:block;
    width:100%;
    /* border:1px solid green; */
   }
  
  div.section_professional_team div.teamMember{
   display:block;
   width:100%;
   max-width:300px;
   padding:3rem 0 1rem 0 ;
   margin:2rem 0;
   position: relative;
   border-bottom:.1rem solid black;
  }

  div.section_professional_team div.teamMember:last-child{
    border-bottom:0 solid black;
   }

  div.section_professional_team div.teamMember>span{
    display: block;
    width:100%;
    
  }

  div.section_professional_team div.teamMember>span p.content{
    overflow: hidden;
    max-width:300px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*行數*/
  -webkit-box-orient: vertical;
  }

  div.section_professional_team div.teamMember>span>p.content1{
   margin:0;
  }
}

@media screen and (min-width: 414px) and ( max-width: 575.98px){

  div.section_professional_team{
    width:90%;
    max-width: 400px;
    padding:0 ;
    margin:0 auto ;
  }
  div.section_professional_team div.teamMember img{
    border-radius: 50%;
    margin: 0 auto;
    width: 6.375rem;
    height: 6.375rem;
    display:block;
  }
 
  div.section_professional_team div.teamMember img.guider-photo_1{
   position: absolute;
   top:1rem;
   right:.5rem;
  }

  div.section_professional_team div.teamMember img.guider-photo_2{
    position: absolute;
    top:1rem;
    right:.5rem;
   }

   div.section_professional_team div.teamMember img.guider-photo_3{
    position: absolute;
    top:.5rem;
    right:.5rem;
   }


  div.section_professional_team>span{
    display:block;
    width:100%;
    max-width: 400px;
    padding: 0 ;
    margin:0 auto;
    letter-spacing: .2rem;
   
    
  }
  div.section_professional_team div.teamMember>span>p{
    display:block;
    max-width:400px;
    width:100%;
    /* border:1px solid green; */
   }

   div.section_professional_team div.teamMember>span>p.centent{
    font-size: 1.2rem;
    /* border:1px solid green; */
   }
  
  div.section_professional_team div.teamMember{
   display:block;
   width:100%;
   max-width:380px;
   padding:3rem 0 1rem 0rem ;
   margin:3.5rem 0;
   position: relative;
   border-bottom:.1rem solid black;
  }

  div.section_professional_team div.teamMember:last-child{
    border-bottom:0 solid black;
   }

  div.section_professional_team div.teamMember>span{
    display: block;
    width:100%;
    
  }

  div.section_professional_team div.teamMember>span p.content{
    overflow: hidden;
    max-width:300px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*行數*/
  -webkit-box-orient: vertical;
  }

  div.section_professional_team div.teamMember>span>p.content1{
   font-size: 1rem;
   padding-bottom:.5rem;
   padding-top:.5rem;

    margin:0;
  }
}

@media screen and (min-width: 576px) and ( max-width: 767.98px){

  div.section_professional_team{
    width:90%;
    max-width: 650px;
    padding:0 ;
    margin:0 auto ;
  }
  div.section_professional_team div.teamMember img{
    border-radius: 50%;
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    display:block;
  }

  div.section_professional_team>span{
    display:block;
    width:100%;
    max-width: 400px;
    padding: 0 ;
    margin:0 auto;
    letter-spacing: .2rem;
   
    
  }
  div.section_professional_team div.teamMember>span>p{
    display:block;
    max-width:400px;
    width:100%;
    /* border:1px solid green; */
   }
  
  div.section_professional_team div.teamMember{
   display:flex;
   width:90%;
   max-width:650px;
   padding:3rem 0 1rem 0rem ;
   margin:0 auto;
   position: relative;
   /* border-bottom:.1rem solid black; */
  }

  div.section_professional_team div.teamMember:last-child{
    border-bottom:0 solid black;
    padding-bottom: 6rem;
   }

  div.section_professional_team div.teamMember>span{
    display: block;
    width:90%;
    padding-right:0;
    
  }

  div.section_professional_team div.teamMember>span:nth-child(n+1){
    display: block;
    width:90%;
    padding-left:1.5rem;
    
  }

  div.section_professional_team div.teamMember>span p.content{
    overflow: hidden;
    max-width:280px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*行數*/
  -webkit-box-orient: vertical;
  }

  div.section_professional_team div.teamMember>span>p.content1{
   /* margin:0; */
  }
}

@media screen and (min-width: 768px) and ( max-width: 991.98px) {

  div.section_professional_team{
    width:90%;
    max-width: 650px;
    padding:0 ;
    margin:0 auto ;
  }
  div.section_professional_team div.teamMember img{
    border-radius: 50%;
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    display:block;
  }

  div.section_professional_team>span{
    display:block;
    width:100%;
    max-width: 400px;
    padding: 0 ;
    margin:0 auto;
    letter-spacing: .2rem;
   
    
  }
  div.section_professional_team div.teamMember>span>p{
    display:block;
    max-width:400px;
    width:100%;
    /* border:1px solid green; */
   }
  
  div.section_professional_team div.teamMember{
   display:flex;
   width:90%;
   max-width:650px;
   padding:3rem 0 1rem 0rem ;
   margin:0 auto;
   position: relative;
   border-bottom:.05rem solid black;
  }

  div.section_professional_team div.teamMember:last-child{
    border-bottom:0 solid black;
    padding-bottom: 6rem;
   }

  div.section_professional_team div.teamMember>span{
    display: block;
    width:90%;
    padding-right:0;
    
  }

  div.section_professional_team div.teamMember>span:nth-child(n+1){
    display: block;
    width:90%;
    padding-left:1.5rem;
    
  }

  div.section_professional_team div.teamMember>span p.content{
    overflow: hidden;
    max-width:280px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*行數*/
  -webkit-box-orient: vertical;
  }

  div.section_professional_team div.teamMember>span>p.content1{
   /* margin:0; */
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199.98px){

  div.section_professional_team{
    width:90%;
    max-width: 960px;
    padding:0 ;
    margin:0 auto ;
  }
  div.section_professional_team div.teamMember img{
   
    width: 13rem;
    height: 13rem;
    display:block;
  }

  div.section_professional_team>span{
    display:block;
    width:100%;
    max-width: 500px;
    padding: 0 ;
    margin:0 auto;
    letter-spacing: .2rem;
   
    
  }
  div.section_professional_team div.teamMember>span>p{
    display:block;
    max-width:400px;
    width:100%;
    /* border:1px solid green; */
   }
  
  div.section_professional_team div.teamMember{
   display:flex;
   width:80%;
   max-width:960px;
   padding:3rem 0 1rem 0rem ;
   margin:0 auto;
   position: relative;
   /* border-bottom:.1rem solid black; */
  }

  div.section_professional_team div.teamMember:last-child{
    border-bottom:0 solid black;
    padding-bottom: 6rem;
   }

  div.section_professional_team div.teamMember>span{
    display: block;
    width:90%;
    padding-right:0;
    
  }

  div.section_professional_team div.teamMember>span:nth-child(n+1){
    display: block;
    width:90%;
    padding-left:1.5rem;
    
  }

  div.section_professional_team div.teamMember>span p.content{
    overflow: hidden;
    max-width:280px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*行數*/
  -webkit-box-orient: vertical;
  }

  div.section_professional_team div.teamMember>span>p.content1{
   /* margin:0; */
  }
}

@media screen and (min-width: 1200px) and ( max-width: 1399.98px){
  div.section_professional_team{
    width:100%;
    max-width: 1140px;
    padding:0 ;
    margin:0 auto ;
  }
  div.section_professional_team div.teamMember img{
   
    width: 14rem;
    height: 14rem;
    display:block;
    margin-top: .7rem;
  }

  div.section_professional_team>span{
    font-size: 2rem;
    display:block;
    width:100%;
    max-width: 500px;
    padding: 0 ;
    margin:0 auto;
    letter-spacing: .2rem;
   
    
  }

  div.section_professional_team div.teamMember{
   display:flex;
   width:100%;
   max-width:1200px;
   padding:3rem 0 1rem 0rem ;
   margin:0 auto;
   position: relative;
   /* border-bottom:.1rem solid black; */
  }
  
  div.section_professional_team div.teamMember>span>p{
    display:block;
    max-width:700px;
    width:100%;
    font-size: 2rem;
    /* border:1px solid green; */
   }
  

  div.section_professional_team div.teamMember:last-child{
    border-bottom:0 solid black;
    padding-bottom: 6rem;
   }

  div.section_professional_team div.teamMember>span{
    display: block;
    width:100%;
    padding-right:0;
    /* font-size: 2.5rem; */
  }

  div.section_professional_team div.teamMember>span:nth-child(n+1){
    display: block;
    width:90%;
    padding-left: 5.5rem;
    /* font-size: .8rem; */
  }

  div.section_professional_team div.teamMember>span>p.content{
    overflow: hidden;
    /* font-size: 10rem; */
    max-width:380px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*行數*/
  -webkit-box-orient: vertical;
  }

  div.section_professional_team div.teamMember>span>p.centent {
    font-size: 1.4rem;
    letter-spacing: normal;
    line-height: 2rem;
    /* margin-top: 35px; */
    box-sizing: border-box;
  }

  div.section_professional_team>div.teamMember>span>p.content1{
    font-size: 1.4rem;
    line-height: 2rem;
  }
  
}

@media screen and ( min-width: 1400px){
  div.section_professional_team{
    width:100%;
    max-width: 1200px;
    padding:0 ;
    margin:0 auto ;
  }
  div.section_professional_team div.teamMember img{
   
    width: 14rem;
    height: 14rem;
    display:block;
    margin-top: .7rem;
  }

  div.section_professional_team>span{
    font-size: 2rem;
    display:block;
    width:100%;
    max-width: 500px;
    padding: 0 ;
    margin:0 auto;
    letter-spacing: .2rem;
   
    
  }

  div.section_professional_team div.teamMember{
   display:flex;
   width:100%;
   max-width:1200px;
   padding:3rem 0 1rem 0rem ;
   margin:0 auto;
   position: relative;
   /* border-bottom:.1rem solid black; */
  }
  
  div.section_professional_team div.teamMember>span>p{
    display:block;
    max-width:700px;
    width:100%;
    font-size: 2rem;
    /* border:1px solid green; */
   }
  

  div.section_professional_team div.teamMember:last-child{
    border-bottom:0 solid black;
    padding-bottom: 6rem;
   }

  div.section_professional_team div.teamMember>span{
    display: block;
    width:100%;
    padding-right:0;
    /* font-size: 2.5rem; */
  }

  div.section_professional_team div.teamMember>span:nth-child(n+1){
    display: block;
    width:90%;
    padding-left: 5.5rem;
    /* font-size: .8rem; */
  }

  div.section_professional_team div.teamMember>span>p.content{
    overflow: hidden;
    /* font-size: 10rem; */
    max-width:380px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*行數*/
  -webkit-box-orient: vertical;
  }

  div.section_professional_team div.teamMember>span>p.centent {
    font-size: 1.4rem;
    letter-spacing: normal;
    line-height: 2rem;
    /* margin-top: 35px; */
    box-sizing: border-box;
  }

  div.section_professional_team>div.teamMember>span>p.content1{
    font-size: 1.4rem;
    line-height: 2rem;
  }
}