@import "./normalize.css";


* {
  font-family: "Arial", Helvetica, serif;
}

.hamburger{
  display:none;
}

@media screen and (max-width: 575.98px){
  .hamburger{
    display:inline-block;
  }
}

nav.header {
  position: relative;
  margin: 0 auto;
  /* width: 100%;
  height: 480px; */
}


nav.header div.banner-title {
  display: inline-block;
  display: flex;
  width: 1000px;
  height: 300px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid black; */
}

nav.header div.banner-title>p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav.header div.banner-title>p.main-title {
  color: white;
  font-size: 30px;
  line-height: 75px;
  letter-spacing: 10px;
  width: 300px;
  height: 300px;
  text-align: left;
  font-family: 'Noto Serif TC', serif;
  margin: 0 auto;

}

nav.header div.banner-title>p.subtitle {
  color: white;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  width: 200px;
  height: 90px;
  text-align: center;
  right: 50px;
  margin-top: 180px;

}
/* -----------------playharderanimationshaking---------------- */

nav.header div.banner-title>div.bold-title {
  color: white;
  font-size: 32px;
  line-height: 50px;
  font-weight: 900;
  letter-spacing: 5px;
  width: 200px;
  height: 100px;
  text-align: center;
  margin-top: 100px;
}

div.bold-title>p.play{
  color:#fff;
  width:150px;
  height:30px;
  padding:10px;
  text-align:center;
  -moz-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -o-transform:rotate(5deg);
  -ms-transform:rotate(5deg);
  transform:rotate(5deg);
}

div.bold-title>p.harder{
  color:#fff;
  width:150px;
  height:30px;
  padding:10px;
  text-align:center;
  -moz-transform:rotate(-10deg);
  -webkit-transform:rotate(-10deg);
  -o-transform:rotate(-10deg);
  -ms-transform:rotate(-10deg);
  transform:rotate(-10deg);
}

nav.header div.banner-title>div.bold-title:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* -----------------playharderanimationshaking---------------- */




/* ------------------headerbannertitle------------------- */

main {
  /* font-size: 0; */
  margin: 0 auto;
}

div.section_planning {
  width: 960px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
}

div.sectionBox {
  /* display: inline-block; */
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  width: 480px;
  height: 480px;
  padding: 44px 44px 316px 330px;
  background-color: #1D2601;
}


/* letters */
div.sectionBox span {
  /* display: inline-block; */
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-size: 40px;
  font-family: 'Noto Serif TC', serif;
  line-height: 60px;
  color: white;
  letter-spacing: 10px;
}

/* //-------------------greenbox----------------// */

div.section_planning {
  display: flex;
  align-items: flex-end;

}

form.planForm {
  width: 385px;

}

div.typeSelection {
  /* display: inline-block; */
  margin-top: 5px;
}


div.typeSelection>label {
  font-size: 18px;
  line-height: 35px;


}

div.typeSelection>label>select {
  /*   display:block; */
  width: 385px;
  height: 40px;
  border-radius: 3px;
  border: .5px solid #9c9c9c;
  margin-top: 2px;
}

div.largeSelection {
  /* display: inline-block; */
  display: flex;
  font-size: 18px;
}

div.smallSelection {
  /*   display:inline-block; */
  width: 180px;
  height: 80px;
  border-radius: 3px;
  margin-top: 10px;
  /*   border: 1px solid black; */
}

/* 時間 */
div.smallSelection>label.time>input {
  width: 175px;
  height: 40px;
  border-radius: 3px;
  border: .5px solid #9c9c9c;
  margin-top: 5px;
}

/* 人數 */
div.smallSelection>label.people>select {
  width: 175px;
  height: 42px;
  border-radius: 3px;
  border: .5px solid #9c9c9c;
  margin-top: 5px;
}

button.btn_submit {
  width: 385px;
  height: 45px;
  border: 2px solid black;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0);
}

button.btn_submit:hover {
  color: white;
  background-color: #3B8DBF;
  border: 1px solid transparent;
}

/* button.btn_submit:hover p{
  color:white;
} */

button.btn_submit>p {
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
}

/* ---------------------form------------------------ */

.ml-30 {
  margin-left: 30px;
}

.ml-95 {
  margin-left: 95px;
}

.mt-95 {
  margin-top: 95px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-48 {
  margin-bottom: 48px;
}

/* ---------------------utility----------------------- */

div.logo_belt {
  background-image: url(../images/landingpage/belt1.png);
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 0;
}

div.logo_belt>img.logo {
  top: -20px;
  width: 90px;
  margin-top: 52.5px;
  position: absolute;
  align-items: center;
}


div.logo_belt>span {
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 700;
  color: #1D2601;
  /* border: 1px solid blue; */
  vertical-align: middle;
  position: absolute;
  top: 110px;
}

/* --------------------beltLogo--------------------------- */
div.section_attractive_rental {
  display: flex;
  width: 960px;
  margin: 0 auto;
  font-size: 24px;
  flex-direction: column;
}

div.section_attractive_rental>div.products {
  display: flex;
  justify-content: space-between;
}

div.section_attractive_rental>div.description {
  box-sizing: border-box;
  /* border: 1px solid black; */
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 48px;
}

div.section_attractive_rental>div>a>img {
  /* margin: 0 auto; */
  margin-bottom: 95px;
  width: 200px;
  height: 200px;
  /* border: 1px solid black; */
}

/* --------------------------------attractiveProduct---------------------- */

div.section_ourservice {
  width: 960px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  margin-bottom: 95px;
}

div.section_ourservice h4 {
  /* box-sizing: border-box; */
  display: flex;
  font-weight: 900;
  line-height: 22px;
  color: #000;
  /* width: 140px; */
  height: 30px;
  /* margin-right: 50px; */
  align-content: center;
  /* border: 1px solid black; */
}

div.section_ourservice>h4:after,
h4:before {
  padding: 0 50px;
  clear: both;
  content: "●";
  display: block;
}

div.section_ourservice>div.paragraph {
  width: 600px;
  height: 100px;
  padding: 0 0 25px 0;
  font-size: 16px;
  color: #000;
  letter-spacing: .05em;
  display: flex;
  /* border: 1px solid black; */
}

div.paragraph>p.knowledgeInfo {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /*行數*/
  -webkit-box-orient: vertical;

}



div.section_ourservice div.paragraph>a.knowledgeInfo {
  text-decoration: none;
  display: block;
  padding: 50px 10px 25px 40px;
  /* border:1px solid black; */
  margin: 0 auto;
  white-space: nowrap;

}

a.knowledgeInfo:after {
  clear: both;
  content: "●";
  text-align: center;
  padding: 50px 50px;

}




/* --------------------------------knowledgeInfo---------------------- */

div.section_classic_itinrary {
  width: 960px;
  height: 550px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 95px;
}

div.river-tracing {
  box-sizing: border-box;
  height: 500px;
  width: 900px;
  position: absolute;
  right: 300px;
  /* border: 2px solid blue; */
  overflow: hidden;
  z-index: 1;
}

/* div.river-tracing{
  box-shadow: -40px 1px 8px 1px rgb(173, 173, 173);
} */


div.mountain-hiking {
  overflow: hidden;
  box-sizing: border-box;
  height: 500px;
  width: 900px;
  position: absolute;
  top: 50px;
  left: 400px;

  /* border: 3px solid red; */
}

div.river-tracing {
  display: block;
  height: 500px;
  width: 860px;
  -webkit-mask-image: url(../images/landingpage/Rectangle\ 1.png);
  background-image: url(../images/landingpage/river.jpeg);
  background-size: 120%;
  background-repeat: no-repeat;
}

div.river-tracing span {
  /* border: 3px solid white; */
  font-size: 32px;
  color: white;
  font-family: 'Noto Serif TC', serif;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  position: absolute;
  /* position: relative; */
  top: 230px;
  left: 350px;
  /* line-height: px; */
  letter-spacing: 10px;

}

/* 
div.mountain-hiking span::after, div.river-tracing span::after{
  display: block;
  content:"";
  clear: both;
  padding:30px 0px; 
} */


div.mountain-hiking {
  display: block;
  height: 500px;
  width: 800px;
  -webkit-mask-image: url(../images/landingpage/Rectangle\ 2.png);
  background-image: url(../images/travel/1_V8ZfS1rObZACGtisJN430Q.jpeg);
  background-size: 120%;
  background-repeat: no-repeat;
  position: relative;

}

div.mountain-hiking span {
  /* border: 3px solid white; */
  font-size: 30px;
  color: white;
  font-family: 'Noto Serif TC', serif;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  position: absolute;
  top: 190px;
  left: 390px;
  /* line-height: px; */
  letter-spacing: 10px;
}

span.triangle1 {
  display: inline-block;
  border-left: 38px solid transparent;
  border-right: 73px solid transparent;
  border-top: 0px solid orange;
  border-bottom: 37px solid #224e69c4;
  transform: rotate(-26deg);
  width: 0px;
  height: 0px;
  position: absolute;
  top: 490px;
  left: 385px;
}


/* --------------trapioa--------------- */

div.section_professional_team {
  width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}

div.section_professional_team span {
  /* box-sizing: border-box; */
  font-size: 24px;
  width: 660px;
  font-family: 'Noto Serif TC', serif;
}

div.section_professional_team div.teamMember {
  /* box-sizing: border-box; */
  /* width: 960px; */
  display: flex;
  margin: 95px 0;
  align-items: space-between;
  justify-content: space-between;
  vertical-align: middle;
}

div.section_professional_team div.teamMember>span {
  text-align: left;
  /* line-height: 28px; */
  width: 400px;

}

div.section_professional_team div.teamMember>img {
  border-radius: 50%;
  margin: 0 48px;
  width: 300px;
  height: 300px;
}

div.section_professional_team div.teamMember>span>p.title1,
.subtitle1 {
  font-size: 20px;
  box-sizing: border-box;
  padding-bottom: 45px;
  height: 28px;
  letter-spacing: 6%;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  font-family: 'Noto Serif TC', serif;
}

div.section_professional_team div.teamMember>span>p.centent {
  font-size: 14px;
  line-height: 19.2px;
  letter-spacing: 0.07em;
  /* margin-top: 35px; */
  box-sizing: border-box;
}

div.section_professional_team div.teamMember>span>p.centent1 {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  margin-top: 35px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

@media (max-width:375px){

}