@import "./normalize.css";

div.section_attractive_rental {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  font-size: 24px;
 
}
div.viewPanel{
  width: 100%;
 
}



/* =================slick================== */
.wrap {
  width: 95%;
  margin: 100px auto;

}

.slick-prev:before{
  content:'←';
  color: rgb(61, 61, 61) !important;
}
.slick-next:before {
  content:'→';
  color: rgb(61, 61, 61) !important;
}


/* =================slick================== */



div.description {
  box-sizing: border-box;
  height: 24px;
  width: 100px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-family: 'Noto Serif TC', serif;
 
}

div.wrap>div.products>a,img.att-products {
  width: 200px;
  height: 200px;
  border: 1px solid transparent;
 
  margin-left: 1rem;
}

div.wrap div.products a:hover>img.att-products{
  width: 200px;
  height: 200px;
  border: 1px solid lightgray;
  margin-left: 1rem;
  
}


@media screen and (min-width: 320px) and (max-width: 413.98px)  {
  div.section_attractive_rental{
    display: none;
  }
}
@media screen and (min-width: 414px) and ( max-width: 991.98px){
  div.section_attractive_rental{
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199.98px){
  div.section_attractive_rental{
    display: none;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399.98px){
  div.section_attractive_rental{
    display: block;
  }
}


@media screen and (min-width: 1400px) {
  div.section_attractive_rental{
    display: block;
  }
}