@import "./normalize.css";


.mt-300 {
    margin-top: 300px;
}

footer {
   box-sizing: border-box;
    height: 250px;
    width: 100%;

    background: linear-gradient(to bottom, #98AB5C03, #596928A0, #4D5928E5, #4D5928 280px);
}
div.regulation{
    width: 100%;
margin: 0 auto;
padding-top: 70px;
display: flex;
justify-content: space-between;

}
div.regulation img{
    width: 50px;
}

div.regulation>div.payments>div p.title{
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    font-size: 8px;
}

div.regulation>div.reg_left{
    width: 100%;
    max-width:400px;
    padding-left: 10%;
}



div.regulation>div.reg_left>a{
    color: lightgray;
    font-size: 12px;
    text-decoration: none;
    box-sizing: border-box;
    width: 250px;
    height: 100px;
    
}



div.regulation>div.payments{
    box-sizing: border-box;
    width: 400px;
    height: 100px;
    text-align: right;
    padding-right: 10%;
    
}

div.regulation>div.payments>i{
    padding-top: 20px;
    color: lightgray;
    padding-top: 30px;
    margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 413.98px)  {
    
    footer {
    background: black;
    width:100%;
    padding:1rem;
    }

    div.regulation{
    display:block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
    /* justify-content: space-between; */
    }

    div.regulation img{
        width: 3rem;
    }

    div.regulation>div.reg_left{
        width: 100%;
        padding: 0;
    }
    div.regulation>div.reg_left>a{
        color: lightgray;
        font-size: 12px;
        text-decoration: none;
        box-sizing: border-box;
        width: 100%;
        height: 100px;
        display:block;
        margin-bottom: 3rem;
        
    }
    
    
    
    div.regulation>div.payments{
        box-sizing: border-box;
        width: 100%;
       height: auto;
        text-align: center;
        margin: 0 auto;
      
        padding-right: 0;
        
    }


    div.regulation>div.payments img{
        display: block;
        width: 2rem;
       margin: 0 auto;
        /* text-align: center; */
        padding:0;
        
    }
    
    div.regulation>div.payments>i{
     display:none;
    }
}

@media screen and (min-width: 414px) and ( max-width: 575.98px){

    
    footer {
    background: black;
    width:100%;
    padding:1rem;
    }

    div.regulation{
    display:block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
    /* justify-content: space-between; */
    }

    div.regulation img{
        width: 3rem;

    }

    div.regulation>div.reg_left{
      width: 100%;
        padding: 0;
    }
    div.regulation>div.reg_left>a{
        color: lightgray;
        font-size: .8rem;
        text-decoration: none;
        box-sizing: border-box;
        width: 100%;
        display:block;
        margin-bottom: 4rem;
        
    }
    
    
    
    div.regulation>div.payments{
        box-sizing: border-box;
        width: 100%;
       height: auto;
        text-align: center;
        margin: 0 auto;
      
        padding-right: 0;
        
    }


    div.regulation>div.payments img{
        display: block;
        width: 2rem;
       margin: 0 auto;
        /* text-align: center; */
        padding:0;
        
    }
    
    div.regulation>div.payments>i{
     display:none;
    }
}

@media screen and (min-width: 576px) and ( max-width: 767.98px){
   
        footer {
        background: black;
        width:100%;
        padding:1rem;
        }
    
        div.regulation{
        display:block;
        width: 100%;
        max-width: 520px;
        margin: 0 auto;
        padding: 0;
        /* justify-content: space-between; */
        }
    
        div.regulation img{
            width: 3rem;
    
        }
    
        div.regulation>div.reg_left{
          width: 100%;
            padding: 0;
        }
        div.regulation>div.reg_left>a{
            color: lightgray;
            font-size: .8rem;
            text-decoration: none;
            box-sizing: border-box;
            width: 100%;
            display:block;
            margin-bottom: 2rem;
            margin-top: 2rem;
        }
        
        
        
        div.regulation>div.payments{
            box-sizing: border-box;
            width: 100%;
           height: auto;
            text-align: center;
            margin: 0 auto;
          
            padding-right: 0;
            
        }
    
    
        div.regulation>div.payments img{
            display: block;
            width: 2rem;
           margin: 0 auto;
            /* text-align: center; */
            padding:0;
            
        }
        
        div.regulation>div.payments>i{
         display:none;
        }
    }

@media screen and (min-width: 768px) and ( max-width: 991.98px){
    footer {
    background: black;
    width:100%;
    padding:1rem;
    }

    div.regulation{
    display:block;
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    padding: 0;
    /* justify-content: space-between; */
    }

    div.regulation img{
        width: 3rem;

    }

    div.regulation>div.reg_left{
      width: 100%;
        padding: 0;
    }
    div.regulation>div.reg_left>a{
        color: lightgray;
        font-size: .8rem;
        text-decoration: none;
        box-sizing: border-box;
        width: 100%;
        display:block;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
    
    
    div.regulation>div.payments{
        box-sizing: border-box;
        width: 100%;
       height: auto;
        text-align: center;
        margin: 0 auto;
      
        padding-right: 0;
        
    }


    div.regulation>div.payments img{
        display: block;
        width: 2rem;
       margin: 0 auto;
        /* text-align: center; */
        padding:0;
        
    }
    
    div.regulation>div.payments>i{
     display:none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199.98px){
    footer {
    background: black;
    width:100%;
    padding:1rem;
    }

    div.regulation{
    display:block;
    width: 100%;
    max-width: 700px;
    padding: 0;
    /* justify-content: space-between; */
    }

    div.regulation img{
        width: 3rem;

    }

    div.regulation>div.reg_left{
      width: 100%;
        padding: 0;
    }
    div.regulation>div.reg_left>a{
        color: lightgray;
        font-size: .8rem;
        width: 100%;
        display:block;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
    
    
    div.regulation>div.payments{
        box-sizing: border-box;
        width: 100%;
       height: auto;
        margin: 0 auto;
        
    }


    div.regulation>div.payments img{
        display: block;
        width: 2rem;
       margin: 0 auto;
        /* text-align: center; */
        padding:0;
        
    }
    
    div.regulation>div.payments>i{
     display:none;
    }
}