@import "./normalize.css";

body {
    /* font-size: 0; */
    margin: 0;
    padding: 0;
    /*去除原始白邊,使滿版*/
    font-family: "Arial", Helvetica, sans-serif;
}


div.top_nav {
    color: white;
    background-color: #1D2601;
    height: 32px;
    width: 100%;
    /*視窗大小*/
    font-size: 14px;
    /* border: 1px solid brown; */
    box-sizing: border-box;
}

div.top_nav>span {
    float: right;
    clear: both;
    /*清除浮動*/
    align-content: center;
    line-height: 32px;
    padding-right: 140px;
}


/* first banner */
nav.header div.menu {
    /* background-image:  */
    width: 100%;
    height: 480px;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
    margin: 0;
    /* display: inline-block; */
    display: flex;
    background-size: cover;
    
}

/* /menu整體/ */
nav.header div.menu ul.main_menu {
    /* display: inline-block; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 48px;
    position: relative;
    /* border: 1px solid black; */
    display: flex;
}

nav.header div.menu ul.main_menu>li.menuList {
    /* display: inline-block; */
    list-style: none;
    color: white;
    margin-right: 45px;
    
}

nav.header div.menu ul.main_menu>li.menuList>a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* font-weight: 700; */
    line-height: 48px;
    font-size: 14px;
    height: 48px;
    width: 56px; 
}

nav.header div.menu ul.main_menu li.nav_logo{
    margin-left: 140px;
}

nav.header div.menu ul.main_menu>li>a:hover {
    text-decoration: none;
    /* color: #3B8DBF; */
    font-weight: 700;
    /* border-bottom: 2px solid #3B8DBF ; */
}

nav.header div.menu ul.main_menu>li>a:visited {
    text-decoration: none;
    color:  #3B8DBF;
    font-weight: 700;
}

/* nav_logo */
nav.header div.menu ul.main_menu>li.nav_logo>a img {
    list-style: none;
    width: 47.5px;
    height: 35px;
    margin: 6px 65px 6px 0px;
    line-height: 48px;

}

nav.header div.menu ul.main_menu>li.nav_logo::marker{
    content:none;
}

/* svg */
nav.header>div.menu>a.svg::before ::after{
    /* display: flex;
    justify-content: space-between; */
    content: "";
    display: block;
    clear: both;
}
nav.header div.menu>ul.main_menu>li.svgLogos>a.svg {
    /* display: inline-block; */
    font-size: 14px;
    line-height: 48px;
    /* border: 1px black solid; */
    margin-right: 30px;
   
}

nav.header div.menu>ul.main_menu>li.svgLogos::marker{
    content: none;
}


nav.header div.menu>ul.main_menu>li.svgLogos>a.svg i.fas {
    font-size: 1.2em;
    width: 20px;
    height: 20px;
    color: white;
    line-height: 48px;
    text-align: center;
   
}

nav.header div.menu>ul.main_menu>li.svgLogos{
    /* margin:0 90px 0 380px; */
    /* float:left; */

}



/* .main_menu裡面的子目錄 */
nav.header div.menu .main_menu ul {
    background: rgba(255, 255, 255, 0.3);
    margin: 0;
    padding: 0;
    opacity: 0;
    font-size: 14px;
    position: absolute;
    transition: all .5s ease;
    /* border: 1px solid black; */
    top: 48px;
    height: 0;
    /* width: 56px; */
    list-style: none;
    left: 242px;
}
/* .main_menu裡面的子目錄 裝備租借*/
nav.header div.menu .main_menu ul.submenu_rental {
    position: absolute;
    left: 345px;
}

nav.header div.menu .main_menu li:hover ul {
    height: 80px;
    transform: translateY(0);
    opacity: 1;
    /* left: 300px; */
}

nav.header div.menu .main_menu ul a {
    color: rgba(255, 255, 255, 0.3);
    display: block;
    padding: 0 8px 10px 8px;
    text-decoration: none;
    color: white;
}

nav.header div.menu .main_menu ul a:hover {
    display: block;
    text-decoration: 15px line-through #217bb385 ;
    width:56px;
    font-weight: bolder;
   color: rgb(255, 255, 255);
   transition: text-decoration .5s;
   /* z-index: 0; */
}


